{% extends "public/templates/public_template.html" %}

{% block title %}Upload PDF{% endblock %}

{% block main %}

<div class="container">
    <div class="row">
        <div class="col">

            <h1 align="center">Book Summarization</h1>
            <p align = "center">Created by: <a href = "https://www.linkedin.com/in/shanay-ghag-0881b319a/">Shanay Ghag</a> and <a href = "https://www.linkedin.com/in/saarthdeshpande/">Saarth Deshpande</a></p>
            <hr>

            <form action="/upload-pdf" method = "POST" enctype = "multipart/form-data">
                <div class = "form-group">
                    <p>
                        Upload the PDF of a book to summarize.
                        A ZIP file containing the chapter-wise summaries will be downloaded.
                    </p>
                    <div class = "custom-file">
                        <label>Upload PDF: </label>
                        <input type = "file" class = "custom-file-input" name = "pdf" id = "pdf">
                    </div>
                </div>
                <br>
                <button style="margin:auto;display:block" onclick="alert( {{ msg }} )" type="submit" class="btn btn-primary">Upload PDF</button>
            </form>

        </div>
    </div>
</div>

{% endblock %}
